@fortawesome:registry=https://npm.fontawesome.com/
@awesome.me:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${NPMRC_FONTAWESOME_PACKAGE_TOKEN}
//registry.npmjs.org/:_authToken=${NPM_TOKEN}