@import url("https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@import '@uoguelph/tailwind-theme';
@source '../../react-components/src';
@source '../';
@plugin "@headlessui/tailwindcss";

@layer base {
  .docblock-colorpalette {
    white-space: pre-wrap !important;
  }

  .uofg-toast-transition-enter {
    opacity: 0;
    transform: translateX(100%);
  }

  .uofg-toast-transition-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms ease,
    transform 300ms ease;
  }

  .uofg-toast-transition-exit {
    opacity: 1;
    transform: translateX(0);
  }

  .uofg-toast-transition-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 300ms ease,
    transform 300ms ease;
  }
}