@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hocus (&:hover, &:focus);
@custom-variant hocus-visible (&:hover, &:focus-visible);

@layer base {
  :root {
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
  }
}

@theme {
  /** Fonts **/
  --font-serif: 'Bitter', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-sans: 'DM Sans', ui-sans-serif, system-ui, sans-serif;

  /** Colors **/
  --color-*: initial; /* Don't include tailwind's default palette */

  --color-white: #fff;
  --color-white-focus: #ddd;
  --color-white-on-dark: #fff;
  --color-white-contrast: #000;

  --color-black: #000;
  --color-black-focus: #444;
  --color-black-on-light: #000;
  --color-black-contrast: #fff;

  --color-red: #e51937;
  --color-red-focus: #b3142c;
  --color-red-on-light: #dc1836;
  --color-red-contrast: #fff;

  --color-yellow: #ffc429;
  --color-yellow-focus: #ffe299;
  --color-yellow-on-dark: #ffc429;
  --color-yellow-contrast: #000;

  --color-blue: #187bb4;
  --color-blue-focus: #135f8b;
  --color-blue-on-light: #1775ab;
  --color-blue-contrast: #fff;

  --color-green: #318738;
  --color-green-focus: #27682c;
  --color-green-on-light: #2e7f35;
  --color-green-contrast: #fff;

  --color-light-grey: #d8d8d8;
  --color-light-grey-focus: #bfbfbf;
  --color-light-grey-contrast: #000;
  --color-light-grey-bg: #f5f5f5;

  --color-dark-grey: #747676;
  --color-dark-grey-focus: #63625f;
  --color-dark-grey-contrast: #fff;
  --color-dark-grey-bg: #222;

  --color-body-copy: #555;
  --color-body-copy-on-dark: #ccc;

  --color-body-copy-bold: #333;
  --color-body-copy-bold-on-dark: #eee;

  --color-body-copy-link: #187bb4;
  --color-body-copy-link-on-light: #166ea2;
  --color-body-copy-link-on-dark: #1d93d7;

  /** Spacing **/
  --spacing: 0.4rem; /* This rescales Tailwind's default spacing to work with root font size set to 62.5% */

  /** Font Size **/
  --text-xs: 1.2rem;
  --text-xs--line-height: 1.6rem;
  --text-sm: 1.4rem;
  --text-sm--line-height: 2rem;
  --text-base: 1.6rem;
  --text-base--line-height: 2.4rem;
  --text-lg: 1.8rem;
  --text-lg--line-height: 2.8rem;
  --text-xl: 2rem;
  --text-xl--line-height: 2.8rem;
  --text-2xl: 2.4rem;
  --text-2xl--line-height: undefined;
  --text-3xl: 3rem;
  --text-3xl--line-height: 3.6rem;
  --text-4xl: 3.6rem;
  --text-4xl--line-height: 4rem;
  --text-5xl: 4.8rem;
  --text-5xl--line-height: 1.6;
  --text-6xl: 6rem;
  --text-6xl--line-height: 1.6;
  --text-7xl: 7.2rem;
  --text-7xl--line-height: 1.6;
  --text-8xl: 9.6rem;
  --text-8xl--line-height: 1.6;
  --text-9xl: 12.8rem;
  --text-9xl--line-height: 1.6;
}
