@custom-variant dark (&:where(.dark, .dark *));
@custom-variant hocus (&:hover, &:focus);
@custom-variant hocus-visible (&:hover, &:focus-visible);

@layer base {
  :root {
    font-size: 62.5%;
  }

  body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
  }
}

@theme {
  /** Fonts **/
  --font-serif: 'Bitter', ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-sans: 'DM Sans', ui-sans-serif, system-ui, sans-serif;

  /** Colors **/
  --color-*: initial; /* Don't include tailwind's default palette */

  --color-white: #fff;
  --color-white-focus: #DDD;
  --color-white-on-light: #000;
  --color-white-on-dark: #fff;
  --color-white-contrast: #000;

  --color-black: #000;
  --color-black-focus: #333;
  --color-black-on-light: #000;
  --color-black-on-dark: #fff;
  --color-black-contrast: #fff;

  --color-red: #e51937;
  --color-red-focus: #bd2e35;
  --color-red-on-light: #cf1732;
  --color-red-on-dark: undefined;
  --color-red-contrast: #fff;

  --color-yellow: #ffc429;
  --color-yellow-focus: #ffe299;
  --color-yellow-on-light: undefined;
  --color-yellow-on-dark: undefined;
  --color-yellow-contrast: #000;

  --color-blue: #187bb4;
  --color-blue-focus: #156b9d;
  --color-blue-on-light: #166ea2;
  --color-blue-on-dark: undefined;
  --color-blue-contrast: #fff;

  --color-green: #318738;
  --color-green-focus: #2a7430;
  --color-green-on-light: #2b7832;
  --color-green-on-dark: undefined;
  --color-green-contrast: #fff;

  --color-grey-light: #d8d8d8;
  --color-grey-light-focus: #bfbfbf;
  --color-grey-light-contrast: #000;
  --color-grey-light-bg: #f5f5f5;

  --color-grey-dark: #747676;
  --color-grey-dark-focus: #63625f;
  --color-grey-dark-contrast: #fff;
  --color-grey-dark-bg: #222;

  /** Spacing **/
  --spacing: 0.4rem; /* This rescales Tailwind's default spacing to work with root font size set to 62.5% */

  /** Font Size **/
  --text-xs: 1.2rem;
  --text-xs--line-height: 1.6rem;
  --text-sm: 1.4rem;
  --text-sm--line-height: 2rem;
  --text-base: 1.6rem;
  --text-base--line-height: 2.4rem;
  --text-lg: 1.8rem;
  --text-lg--line-height: 2.8rem;
  --text-xl: 2rem;
  --text-xl--line-height: 2.8rem;
  --text-2xl: 2.4rem;
  --text-2xl--line-height: undefined;
  --text-3xl: 3rem;
  --text-3xl--line-height: 3.6rem;
  --text-4xl: 3.6rem;
  --text-4xl--line-height: 4rem;
  --text-5xl: 4.8rem;
  --text-5xl--line-height: 1.6;
  --text-6xl: 6rem;
  --text-6xl--line-height: 1.6;
  --text-7xl: 7.2rem;
  --text-7xl--line-height: 1.6;
  --text-8xl: 9.6rem;
  --text-8xl--line-height: 1.6;
  --text-9xl: 12.8rem;
  --text-9xl--line-height: 1.6;
}
