@import 'tailwindcss' prefix(tw);
@reference '@uoguelph/tailwind-theme';
@plugin "@headlessui/tailwindcss";

@layer base {
  :root {
    font-size: 62.5%;
    --tw-max-content-width: 137rem;
  }

  body {
    font-size: 1.6rem;
    margin: 0;
    padding: 0;
  }
}
